{{define "commonHeaders"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="icons/greenP192px.png">
<link rel="shortcut icon" href="icons/greenP.jpg">
<meta name="theme-color" content="#B64201">
<link rel="manifest" href="/manifest.json">
{{end}}
