{{define "index"}}
<!doctype html>
<!--
Copyright 2018 The Go Authors. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
-->
<html lang="en">

<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="sidebar.css">
    <title>Polyapp PWA</title>
    <meta name="Description" content="Progressive Web App demo for Go WASM by Polyapp">
    {{template "commonHeaders"}}
</head>

<body>
{{template "wasmInit"}}

<header id="second_server_network_error" class="top-bar _fixed" hidden>
    <p>Network Error: couldn't connect to second server. Are you connected to the internet?</p>
</header>
<header id="server_error" class="top-bar _fixed" hidden>
    <p>Network Error: couldn't connect to </p>
</header>
<div class="overall">
    <div class="left">
        <button id="secondserverButton">Call 2nd Server</button>
        <br>
        <br>
        <label for="validateTextarea">Text Area with Validation</label>
        <br>
        <textarea id="validateTextarea"></textarea>
        <br>
        <button id="addTabButton">Add Tab</button>
        <br>
        <br>
        <button id="removeTabButton">Remove Tab</button>
        <script>
            document.getElementById("secondserverButton").addEventListener('click', secondServer);
            document.getElementById("validateTextarea").addEventListener('input', notifyServiceWorker);
            document.getElementById("addTabButton").addEventListener('click', notifyServiceWorker);
            document.getElementById("removeTabButton").addEventListener('click', notifyServiceWorker);
        </script>
    </div>
    <aside class="right">
        <div class="tabs">
            {{template "sidebar" .}}
        </div>
    </aside>
</div>

</body>

</html>
{{end}}
