{{define "sidebar"}}
{{range $num, $val := .}}
<div class="tab" id="tab{{$num}}">
    <input type="radio" id="tab-{{$num}}" name="tab-group-1" checked>
    <label for="tab-{{$num}}">Tab {{$num}}</label>

    <div class="content">
        content for tab {{$num}}
    </div>
</div>
{{end}}
{{end}}
