{{define "wasmInit"}}
<noscript>This website needs Javascript enabled to work properly.</noscript>
<script src="main.js"></script>
<header id="wasm_done" class="top-bar _fixed" hidden>
    <p>Error: Script has terminated. Please refresh this page</p>
</header>
{{end}}
