.top-bar {
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: yellow;
}

.top-bar._fixed {
    position: fixed;
    min-width: auto;
    box-shadow: dimgrey;
}

.overall {
    min-height: 800px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.body {
    width: 100%;
    height: 100%;
}
.left {
    float: left;
    height: 100%;
    min-width: 500px;
}
.right {
    float: right;
    min-width: 200px;
    width: auto;
    height: 100%;
}

